[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cognitive-face = "*"
azure-cognitiveservices-vision-face = "*"
azure-storage-blob = "*"

[requires]
python_version = "3.8"
